<div class="row login-box">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form form-inline">
      <div class="form-group">
        <p>
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login"/>
      </p>
      </div>
      <div class="form-group">
        <p>
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login"/>
      </p>
      </div>
      <div class="form-group login-group">
        <button class="btn btn-primary" type="submit">login</button>
        <div><a href="/signup">Signup instead</a></div>
      </div>
    </form>
  </div>
  

<script src="./js/login.js"></script>