:root {
    --text: #D0F8FF;
    --text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
        0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
        0 0 40px #A5F1FF;
}

body {
    background-color: black;
    color: var(--text);
    text-shadow: var(--text-shadow);
}

h1 {
    margin-left: 40px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: #A5F1FF;
    margin-top: 30px;
    padding-left: 8px;
    display: inline;
    float: inline-end;
    padding-right: 10px;
}

li {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin: 30px;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

li:hover {
    -webkit-filter: brightness(100%);
}

a {
    text-decoration: none;
    color: var(--text);
    text-shadow: var(--text-shadow);
}

.login-box {
    border-style: solid;
    border-color: var(--text);
    box-shadow: var(--text-shadow);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form-frame {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
button {
    display: flex;
    justify-content: center;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin-left: 250px;
}
.signup-instead {
    margin: 200px;
}
input {
  display: inline-block;
  float: left;
}
.form-group {
    margin: 10px;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

nav {
    border: solid;
    border-color: var(--text);
}